* {
  background-color: whitesmoke;
  align-content: center;
}

.Form {
}

.App {
  text-align: center;
  padding: 10px;
 }

.itemDisplay {
  text-align: center;
}

input[type=text] {
  padding: 12px;
  border:1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

input[type=text]:focus {
  background-color: lightblue;

}

button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}
